/* 
* @Author: Marte
* @Date:   2017-08-04 17:57:32
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-05 00:07:54
*/
html,body{
    height:100%;
}
#container{
    height:100%;
    display:flex;
    flex-direction: column;
}
header{
    height:63px;
    background: #ffffff;
    position:relative;
}
header i{
    display:block;
    width:29px;
    height:29px;
    background:url(../images/jingling.fw.png) no-repeat -184px 0;
    position: absolute;
    top:23px;
    right:8px;
}
header span{
    display:block;
    width:50px;
    margin:0 auto;
    margin-top: 32px;
    font-size: 15px;
    text-align: center;
}
main{
    flex:1;
    background:#EAEAEA;
    overflow-y: auto;
}
main div{
    background:white;
    border-bottom: 1px solid black;
}
main div a{
    display:block;
    box-sizing: border-box;
    margin-left:20px;
    padding-left: 56px;
    padding-bottom: 10px;
    
    position:relative;
    background:white;
}
main div i{
    display:block;
    width:30px;
    height:35px;
    background:url(../images/IMG_0946.fw.png) no-repeat;
    position:absolute;
    top:7px;
    left:15px;
}
main div:nth-child(1){
    margin-top:20px;
}
main div:nth-child(3){
    border-bottom:none;
}
main div:nth-child(4){
    margin-top:20px;
}
main div:nth-child(6){
    border-bottom:none;
}
main div:nth-child(7){
    margin-top:20px;
    border-bottom:none;
}
footer{
    height:50px;

}
footer ul{
    display:flex;
    justify-content: space-between;
}
footer ul li{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
}
footer ul li i{
    display:block;
    width:30px;
    height:35px;
    background:url(../images/IMG_0946.fw.png) no-repeat;

}